<html >
<head>
    <title>

    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//cdn.rawgit.com/indrimuska/angular-selector/master/dist/angular-selector.js"></script>
    <link href="//cdn.rawgit.com/indrimuska/angular-selector/master/dist/angular-selector.css" rel="stylesheet">
</head>
<body ng-app="animetracker">
    <h3> Hi! We are trying our best to be up and running !!!</h3>
    <img src="http://media4.giphy.com/media/I2ETgDwI93oli/200_d.gif" />
    <br>
</div>
<br><br>




<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<!-- To put this in seprate view using ng-view -->
<div ng-controller="ListController">

    <select selector
    multi="true"
    model="myBrowsers"
    options="browsers"
    value-attr="value"></select>

    <p>
        Current value: <code ng-bind="myBrowsers|json"></code>
    </p>


    <form ng-submit="getList()">
        <input type ="text" ng-model="query"></input>
        <button type="submit"> Search </button>
    </form>
    
    <div ng-repeat= "result in results">
        <list-anime info = result> </list-anime>
    </div>
    <p ng-show="!results.length">Sorry ! we could not find results for your search query </p>

</div>
    <!-- Modules -->
    <script type="text/javascript" src="./app.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="./controllers/ListController.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="./services/search.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="./directives/listAnime.js"></script>
</body>
</html>
