<html >
<head>
    <title>

    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type = "text/css" href = "./css/main.css">
</head>
<body ng-app="animetracker">
<div id ="header"> 
Here is ts header
</div>
<div id = "center">
    <div ng-controller="ListController">

            <select ng-model="selection" ng-options="item for item in selections"> </select>

            <div ng-switch on="selection">
                <br><code>selection={{selection}}</code><br>
                <div  ng-switch-when="search">Settings Div
                    <form ng-submit="getList()">
                        <input type ="text" ng-model="query"></input>
                        <button type="submit"> Search </button>
                    </form>
                
                    <div ng-repeat= "result in results">
                        <list-anime info = result> </list-anime>
                    </div>
                    <p ng-show="!results.length">Sorry ! we could not find results for your search query </p>

                </div>
                <div  ng-switch-when="browse">
                    here is the web dev stuff 
                </div>
            </div>
    </div>

</div>



    <!-- Modules -->
    <script type="text/javascript" src="./app.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="./controllers/ListController.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="./services/search.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="./directives/listAnime.js"></script>
</body>
</html>
