.searchanime{
	background: #eee;
	padding:11px;
	padding-bottom: 8px;
	 border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
	-o-border-radius:10px 0 0 10px;
	border:0 none;
	width:160px;
}

.searchbutton{
	background:black;
	color:white;
	font: 'trebuchet ms', trebuchet;
	padding:11px 20px;
	padding-bottom: 8px;

	border-radius:0 10px 10px 0;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
	-o-border-radius:0 10px 10px 0;
	border:0 none;
	font-weight:bold;
  margin-left:-4px;
}

