<ul class="navbar">
  <li><a href="/#/" ng-click="getBrowse()">Home</a></li>
  <li><a href="" ng-click="selection='search'">Search</a></li>
  <li><a href="" ng-click="selection='browse'">Browse</a></li>
  <li><a  href="#/register/1" ng-show="!isLoggedIn">Login</a></li>
  <li><a  href="#/register/0" ng-show="!isLoggedIn">SignUp</a></li>
  <li><a href="" ng-click="showUserWishList()">My Wish List</a></li>
  <li><a  href="/logout" ng-show="isLoggedIn">Logout</a></li>
</ul> 
<div>
  <div class = "listsearch">  
    <div ng-show="selection == 'search'"> 
      <form ng-submit="getResults()">
        <input class="searchanime" ng-model="query" size="40" type="text" placeholder="  Search ... "/>
        <input class="searchbutton" value="Go" type="submit"/>
      </form>
    </div>
    <div  ng-show="selection == 'browse'">
        <div class = "browseBar" ng-dropdown-multiselect="" options="types" selected-model="selectedType"
        extra-settings="typeSettings" translation-texts="typeTexts" ></div>
        <div class = "browseBar" ng-dropdown-multiselect="" options="genreList" selected-model="selectedGenres"
        extra-settings="genreSettings" translation-texts="genreTexts"></div>
        <button class ="searchbutton" ng-click="getBrowse()"> Search </button>
    </div>
  </div>
  <div class="loading" ng-show="loading">
      <img src="http://www.kjefta.org/bilder/flaksuflaks_logo_anime.gif">
  </div>

  <div ng-show="results.length" class ="animetiles">
      <div  ng-repeat= "result in results">
              <list-anime info=result> </list-anime>
      </div>
  </div>
  
  <p ng-show="!results.length && !loading">Sorry ! we could not find results for your search query </p>
</div>

   
