.header {
	position : relative;
	top : 0px;
	left : 0px;
	width: 100%;
	@include border_style(0,2px,black);
	height: 8%;
	font-size: 30px;
}

.footer {
	position: relative;
	bottom: 0;
	clear: both;
	width: 100%;
	@include border_style(0,2px,black);
}

.side-bar {
	position: relative;
	float: right;
	width: 20%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	font-size: 20px;
	@include border_style(0,2px,black);
}

.main-box {
	width: 77%;
	padding-left: 10px;
	@include border_style(0,2px,black);	
}